@model IEnumerable<CarInsurance.Models.Table>

@{
	ViewBag.Title = "Index";
}
<img width="100%" src="https://t4.ftcdn.net/jpg/02/38/86/79/240_F_238867915_pHwnAi8KJwPkW0HrbvSNWSPoIdiedhXI.jpg" />
<br >

<div class="jumbotron">
	<h2>Welcome to CarFine Insurance</h2>
	<p> We pride ourselves on our great customer service. To recieve an auto quote please click the link below:</p>
	<button class="btn btn-secondary">
		<p style="color:white;">@Html.ActionLink("Get a Quote", "Create")</p>
	</button>
		
</div>



